/*
 * SPDX-FileCopyrightText: 2024-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

.imanage-tabbed {
  display: flex;
  flex-direction: column-reverse;
  max-width: 80vw;
  min-width: 360px;
  margin: 0 auto;
  input[name="tabs"] {
    display: none;

    &:not(:checked) + .imanage-tab-content {
      display: none;
    }
  }
  .imanage-tab-content {
    margin: 20px;
    margin-top: 12px;
  }
}
.imanage-tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--color-grey-lighter);
  position: sticky;
  top: 0;
  background-color: var(--color-bg);
  z-index: 200;

  h4,
  h3,
  h2,
  h1,
  .imanage-tab {
    padding: 8px 24px;
    font-size: 14pt;
    overflow: hidden;
    border: 1px solid var(--color-grey-lighter);
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0 0.5em var(--color-grey-lightest);
    cursor: pointer;
    &.active {
      border-top: 4px solid var(--color-primary);
    }
    label {
      margin-bottom: 0; /* container .imanage-tab takes care of the spacing */
      user-select: none;
      cursor: pointer;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }
}
.imanage-list-day {
  .bucket-time {
    color: rgb(0 0 0 / 0.54);
    font-size: 14px;
    font-weight: 500;
  }
  a:hover {
    text-decoration: none;
    .title {
      color: var(--color-primary);
    }
  }
}
